---
layout: "default"
metatitle: Learn Golang
class: home
weight: 1
---

{% include banner_home.html %}
<div class="row -dark -collapse -burrows">
    <div class="wrapper">
        <ul class="fact grid">
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">3<sup>*</sup></span>
                        <span class="fact__label">days of learning</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">2</span>
                        <span class="fact__label">simultaneous tracks</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">4<sup>th</sup></span>
                        <span class="fact__label">annual conference</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">24</span>
                        <span class="fact__label">hand-picked speakers</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row -about">
    <div class="wrapper">
        <h3>About the conference</h3>
        <p>We are pleased to announce the 4th annual GopherCon UK conference. Three days of amazing talks, plentiful networking opportunities and great socials. GopherCon UK offers the most up-to-date Go programming information and training.</p>
    </div>
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel speakers">
                    <div class="gradient -green"></div>
                    <a href="/speakers">
                        <span class="panel__title">Call for Papers</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel schedule">
                    <div class="gradient -red"></div>
                    <a href="/schedule">
                        <span class="panel__title">Conference Schedule</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel venue">
                    <div class="gradient -purple"></div>
                    <a href="/venue">
                        <span class="panel__title">The Venue</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel tickets">
                    <div class="gradient -orange"></div>
                    <a href="/tickets">
                        <span class="panel__title">Tickets</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel sponsors">
                    <div class="gradient -blue"></div>
                    <a href="/sponsors">
                        <span class="panel__title">Sponsors</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel socials">
                    <div class="gradient -pink"></div>
                    <a href="/socials">
                        <span class="panel__title">Socials</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row -collapse">
    <div class="wrapper">
        {% include callout_tickets.html %}
    </div>
</div>

<div class="row -about">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item u-1/2@md u-1/2@sm">
                <h3>Call for Papers</h3>
                <p>The GopherCon UK team is pleased to announce the opening of the Call for Papers for our 2018 event. You can find out more about the process and submit your talk here.</p>
                <p><a class="link" href="/speakers">Submit your talk to the CfP</a></p>
            </div>
            <div class="grid__item u-1/2@md u-1/2@sm">
                <h3>Scholarships</h3>
                <p>GopherCon UK's scholarship programme provides financial support to members of underrepresented groups who may not otherwise be able to attend the conference.</p>
                <p><a href="/scholarships" class="link">Learn more about our scholarship programme</a></p>
            </div>
        </div>
    </div>
    <img src="/assets/images/gophers/gopher-dragon.svg" class="gopher -small -left">
</div>

<div class="row -testimonials -medium">
    <div class="wrapper">
        <h2 class="text-center">Read the feedback from Golang UK 2017</h2>
        <p class="text-center">GopherCon UK was previously known as the Golang UK Conference. Here's what people said about the conference last year.</p>
        <div class="grid">
            <div class="grid__item u-1/3@md u-1/1@sm">
                <blockquote data-cards="hidden" class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Easily one of the best organized conferences I&#39;ve been to! Kudos to the organizers, sponsors and the wonderful speakers! <a href="https://twitter.com/hashtag/gouk17?src=hash&amp;ref_src=twsrc%5Etfw">#gouk17</a> <a href="https://t.co/3GUEFfdQjy">https://t.co/3GUEFfdQjy</a></p>&mdash; Diwaker Gupta (@diwakergupta) <a href="https://twitter.com/diwakergupta/status/902284225730166784?ref_src=twsrc%5Etfw">August 28, 2017</a></blockquote>
            </div>
            <div class="grid__item u-1/3@md u-1/1@sm">
                <blockquote data-cards="hidden" class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/gouk17?src=hash&amp;ref_src=twsrc%5Etfw">#gouk17</a> has been fantastic. I&#39;m impressed with how accessible most of the talks were to this front-end developer who&#39;s relatively new to Go</p>&mdash; Crispin Merriman (@Crispioso) <a href="https://twitter.com/Crispioso/status/898600657795657728?ref_src=twsrc%5Etfw">August 18, 2017</a></blockquote>
            </div>
            <div class="grid__item u-1/3@md u-1/1@sm">
                <blockquote data-cards="hidden" class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Big thanks to everyone involved with <a href="https://twitter.com/hashtag/gouk17?src=hash&amp;ref_src=twsrc%5Etfw">#gouk17</a> for such a great event 😍I’m already looking forward to coming back next year 😀</p>&mdash; Horst Gutmann 🇦🇹 (@zerok) <a href="https://twitter.com/zerok/status/898994275991470080?ref_src=twsrc%5Etfw">August 19, 2017</a></blockquote>
            </div>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <p class="text-center"><a class="link" href="https://twitter.com/search?q=gouk17" target="_blank">View more searching #gouk17 on Twitter</a></p>
    </div>
</div>

<div class="row -history">
    <div class="wrapper">
        <h3>Video Archive</h3>
        <p>The Golang UK Conference 2017 was another great success! With almost 450 attendees across three days, it was our biggest event yet. A huge thanks to all our delegates for attending and leaving feedback, thanks to all our speakers for delivering non-stop fantastic talks, and thanks to all our sponsors who made the event possible.</p>
        <p><a href="/videos" class="link">Watch the videos</a></p>
        {% include videos_featured.html %}
    </div>
</div>