---
layout: "default"
title: Speakers
metatitle: Speakers | Applied AI
weight: 2
image: banners/speakers.png
---
<!-- <div class="page-title -speakers">
    <div class="wrapper">
        <h1>Speakers</h1>
        <h2>All about  Applied AI speakers</h2>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="container">
            <div class="col span12">
                <ul class="speakers">
                    {% for day in site.data.2018.speakers %}
                    {% for slot in day.slots %}
                    {% for speaker in slot.tracks %}
                    {% if speaker.track.speakers %}
                        {% for sp in speaker.track.speakers %}
                            {% include speaker.html speaker=sp %}
                        {% endfor %}
                    {% else %}
                        {% include speaker.html speaker=speaker.track %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div> -->
