---
layout: "2016"
title: Schedule | Golang UK Conference
weight: 3
schedule-wednesday:
  - time: "09.00"
    slottype: special
    tracks:
      - track:
            name: Workshop - Level I Introductory
            speaker: William Kennedy
            title: "Ultimate Go: The Essentials"
            description: |
              This class is for the developer who has some experience with other programming languages and wants to learn Go. This class provides an intensive and idiomatic view of the language. We focus on both the specification and implementation of the language, including topics ranging from language syntax, Go's type system, concurrency, channels and more. We believe this class is perfect for anyone who wants a jump start in learning Go or who wants a more thorough understanding of the language and its internals.<br><a href="/workshop-day">More details</a> or <a href="/tickets">Buy tickets</a>
  - time: "09.00"
    slottype: special
    tracks:
      - track:
            name: Workshop - Level II Advanced
            speaker: Cory LaNou
            title: "Ultimate Go: The IO Package and Debugging"
            description: |
              If you are a seasoned Go developer and have even worked on a project or two, then this class is for you. In the first part of the class you will take a deep dive into the io package of the standard library. Learn about all there is to know to effectively use the io package. In the second part of the class, we will show you as much of the Go tooling as we can to help you understand and debug your programs.<br><a href="/workshop-day">More details</a> or <a href="/tickets">Buy tickets</a>
  - time: "18.00"
    slottype: break
    tracks:
      - track:
            name: Pre-Conference Social
            description: |
              The pre-conference social is a traditional style pubcon, open to anyone, where conference attendees and locals can meet up before the conference to network and socialise. <br><a href="/socials">More details &raquo;</a>
schedule-thursday:
  - time: "08.30"
    slottype: special
    tracks:
      - track:
            name: Registration
            description: Please bring a copy of your ticket either printed or on a mobile device.
  - time: "09.00"
    slottype: break
    tracks:
      - track:
            name: Social Event
            slug: breakfast-social
            title: Breakfast Social
            description: |
              Start the day off right with a hearty breakfast and tech chat with fellow attendees.
  - time: "10.00"
    slottype: special
    tracks:
      - track:
            name: Opening address
            title: Welcome to The Golang UK Conference
            slug: about
            description:
              "The conference team welcome all our delegates, speakers, and sponsors to the conference and provide an overview of the day's events to come."
  - time: "10.10"
    slottype: special
    tracks:
      - track:
            name: Keynote
            title: TBA
  - time: "10.40"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "10.50"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Idiomatic Go Tricks"
            slug: mat-ryer
            speaker: Mat Ryer
            id: idiomatic-go-tricks
      - track:
            name: Side Track
            title: "2016 Go Garbage Collection: What's New and What That's got to do with Concurrency"
            slug: aileen-nielsen
            speaker: Aileen Nielsen
            id: 2016-go-garbage-collection

  - time: "11.20"
    slottype: break
    tracks:
      - track:
            name: Refreshment break
  - time: "11.40"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Writing high performance Go"
            slug: dave-cheney
            speaker: Dave Cheney
            id: writing-high-performance-go
      - track:
            name: Side Track
            title: "Cloud in your Cloud"
            slug: matthew-campbell
            speaker: Matthew Campbell
            id: cloud-in-your-cloud
  - time: "12.10"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "12.20"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Advanced testing concepts for Go 1.7"
            slug: marcel-van-lohuizen
            speaker: Marcel van Lohuizen
            id: advanced-testing-concepts-for-go-1.7
      - track:
            name: Side Track
            title: "Using go mobile and multi cores to develop apps for developing countries"
            slug: natalie-pistunovich
            speaker: Natalie Pistunovich
            id: apps-for-developing-countries
  - time: "12.50"
    slottype: break
    tracks:
      - track:
            name: Lunch
            description: |
              A buffet lunch will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "13.50"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "A Beginners Guide to Context"
            slug: paul-crawford
            speaker: Paul Crawford
            id: a-beginners-guide-to-context
      - track:
            name: Side Track
            title: "Go for Devops"
            slug: florin-patan
            speaker: Florin Patan
            id: go-for-devops
  - time: "14.20"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "14.30"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Design patterns in Microservices architectures and Gilmour"
            slug: piyush-verma
            speaker: Piyush Verma
            id: design-patterns-in-microservices
      - track:
            name: Side Track
            title: "Dropping down: Go functions in assembly"
            slug: michael-munday
            speaker: Michael Munday
            id: dropping-down
  - time: "15.00"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "15.10"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "What every developer should know about logging"
            slug: slawosz-slawinski
            speaker: Slawosz Slawinski
            id: what-every-developer-should-know-about-logging
      - track:
            name: Side Track
            title: "Static Deadlock Detection for Go"
            slug: nicholas-ng
            speaker: Nicholas Ng
            id: static-deadlock-detection-for-go
  - time: "15.40"
    slottype: break
    tracks:
      - track:
            name: Refreshment break
            description: |
              Light refreshments will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "16.00"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Building an enterprise service in Go"
            slug: marcus-olsson
            speaker: Marcus Olsson
            id: building-an-enterprise-service-in-go
      - track:
            name: Side Track
            title: "Running without GC"
            slug: carl-b-jones
            speaker: Carl B. Jones
            id: running-without-gc
  - time: "16.30"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "16.40"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Grand Treatise of Modern Instrumentation and Orchestration"
            slug: björn-rabenstein
            speaker: Björn Rabenstein
            id: grand-treatise-of-modern-instrumentation
      - track:
            name: Side Track
            title: "Implementing Software Machines in Go (and C)"
            slug: eleanor-mchugh
            speaker: Eleanor McHugh
            id: implementing-software-machines-in-go
  - time: "17.10"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "17.20"
    slottype: special
    tracks:
      - track:
            name: Keynote
            title: TBA
  - time: "17.50"
    slottype: special
    tracks:
      - track:
            name: Closing address
            title: Prize Raffle and Closing Address
  - time: "18.00"
    slottype: break
    tracks:
      - track:
            name: Mid-Conference Social
            description: |
              The conference social is open to all conference attendees and gives you a chance to relax and meet other delegates after a big day of learning. There will be lots of fun activities planned for the evening.<br><a href="/socials">More details &raquo;</a>
schedule-friday:
  - time: "08.30"
    slottype: special
    tracks:
      - track:
            name: Registration
            description: Please bring a copy of your ticket either printed or on a mobile device.
  - time: "09.00"
    slottype: break
    tracks:
      - track:
            name: Social Event
            slug: breakfast-social
            title: Breakfast Social
            description: |
              Start the day off right with a hearty breakfast and tech chat with fellow attendees.
  - time: "10.00"
    slottype: special
    tracks:
      - track:
            name: Opening address
            title: Welcome to The Golang UK Conference
            slug: about
            description:
              "The conference team welcome all our delegates, speakers, and sponsors to the conference and provide an overview of the day's events to come."
  - time: "10.10"
    slottype: special
    tracks:
      - track:
            name: Keynote
            title: TBA
  - time: "10.40"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "10.50"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Managing and Scaling Real-Time Data Pipelines using Go"
            id: managing-and-scaling-real-time-data-pipelines-using-go
            speaker: Jennie Lees
            slug: jennie-lees
      - track:
            name: Side Track
            title: "How to Raise a Gopher in Record Time"
            id: how-to-raise-a-gopher-in-record-time
            speaker: Tiffany Jernigan
            slug: tiffany-jernigan
  - time: "11.20"
    slottype: break
    tracks:
      - track:
            name: Refreshment break
            description: Light refreshments will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.  
  - time: "11.40"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Google App Engine Kubernetes"
            id: google-app-engine-kubernetes
            speaker: Mandy Waite
            slug: mandy-waite
      - track:
            name: Side Track
            title: "Building Mobile SDKs for iOS and Android-Ain’t nobody got time for that!"
            id: building-mobile-sdks
            speaker: Nic Jackson
            slug: nic-jackson
  - time: "12.10"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "12.20"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "When Idioms Become Bottlenecks"
            id: when-idioms-become-bottlenecks
            speaker: Travis Bischel
            slug: travis-bischel
      - track:
            name: Side Track
            title: "Let’s build a CI/CD pipeline"
            id: build-a-ci-cd-pipeline
            speaker: Jean de Klerk
            slug: jean-de-klerk
  - time: "12.50"
    slottype: break
    tracks:
      - track:
            name: Lunch
            description: |
              A buffet lunch will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "13.50"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "The dark side of microservices"
            id: The-dark-side-of-microservices
            speaker: Jelmer Snoeck
            slug: jelmer-snoeck
      - track:
            name: Side Track
            title: "A Go IDE - Because Semantics Matter"
            id: a-go-ide
            speaker: Alexander Zolotov
            slug: alexander-zolotov
  - time: "14.20"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "14.30"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Building your own log-based message queue in Go"
            id: building-your-own-log-based-message-que-in-go
            speaker: Víctor Ruiz
            slug: víctor-ruiz
      - track:
            name: Side Track
            title: "What is a container, really? Let's write one in Go from scratch"
            id:  what-is-a-container
            speaker: Liz Rice
            slug: liz-rice
  - time: "15.00"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "15.10"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Simplifying building and managing microservices with Micro"
            id: simplifying-building-and-managing-microservices-with-micro
            speaker: Asim Aslam
            slug: asim-aslam
      - track:
            name: Side Track
            title: "Real-Time Go"
            id: real-time-go
            speaker: Andreas Krennmair
            slug: andreas-krennmair
  - time: "15.40"
    slottype: break
    tracks:
      - track:
            name: Refreshment break
            description: |
              Light refreshments will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.
  - time: "16.00"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Inception, Go programs that generate Go code" 
            id: inception
            speaker: Ernesto Jimenez
            slug: ernesto-jimenez
      - track:
            name: Side Track
            title: "An Actor Model in Go"
            id: an-actor-model-in-go
            speaker: Bryan Boreham
            slug: bryan-boreham
  - time: "16.30"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "16.40"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: "Real-time machine learning in Go for smart energy applications"
            id: real-time-machine-learning-in-go
            speaker: Michael Bironneau
            slug: michael-bironneau
      - track:
            name: Side Track
            title: TBA
            id:  
            speaker:
            slug:
  - time: "17.10"
    slottype: special change
    tracks:
      - track:
            name: Room change
  - time: "17.20"
    slottype: special
    tracks:
      - track:
            name: Keynote
            title: TBA
  - time: "17.50"
    slottype: special
    tracks:
      - track:
            name: Closing address
            title: Prize Raffle and Closing Address
  - time: "18.00"
    slottype: break
    tracks:
      - track:
            name: Post-Conference Social
            description: |
              The conference social is open to all conference attendees and gives you a chance to relax and meet other delegates after a big day of learning. There will be lots of fun activities planned for the evening.<br><a href="/socials">More details &raquo;</a>
---

<!--

YAML INSERTS
----------------------------
SPEAKER SLOT - 2 TRACKS

  - time: "HH.MM"
    slottype: talks
    tracks:
      - track:
            name: Main Track
            title: 
            id:  
            speaker:
            slug:
      - track:
            name: Side Track
            title: 
            id:  
            speaker:
            slug:


ROOM CHANGE

  - time: "HH.MM"
    slottype: special change
    tracks:
      - track:
            name: Room change


REFRESHMENT BREAK

  - time: "HH.MM"
    slottype: break
    tracks:
      - track:
            name: Refreshment break
            description: |
              Light refreshments will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.


LUNCH

  - time: "HH.MM"
    slottype: break
    tracks:
      - track:
            name: Lunch
            description: |
              A buffet lunch will be served in the exhibition hall where you will also be able to network with fellow delegates and our sponsors.


-->
<div class="row">
  <div class="container">
    <div class="col span12">
        <h1>Schedule</h1>
        <h3 class="centre">Wednesday 17th August 2016</h3>
        <ul class="schedule">
          {% for slot in page.schedule-wednesday %}
          <li class="slot {{slot.slottype}}">
            <span class="time">{{slot.time}}</span>
            <div class="tracks-wrapper">
              <ul class="tracks tracks-wednesday">
                {% for track in slot.tracks %}
                <li class="track" id="{{track.track.id}}">
                  <span class="name">{{track.track.name}}</span>
                  <span class="title">{{track.track.title}}</span>
                  {% if track.track.speaker %}
                  <span class="speaker"><a href="/speakers/#{{track.track.slug}}">{{track.track.speaker}}</a></span>
                  {% endif %}
                  <p class="description">{{track.track.description}}</p>
                  {% if track.track.menulink %}
                      <p><a href="/menu/#{{track.track.menulink}}">Tasty food menu &raquo;</a></p>
                  {% endif %}
                  {% if track.track.video %}
                      <span class="video"><a href="https://www.youtube.com/watch?v={{track.track.video}}&list=PLDWZ5uzn69ezRJYeWxYNRMYebvf8DerHd">Video &raquo;</a></span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
        <h3 class="centre">Thursday 18th August 2016</h3>
        <ul class="schedule">
          {% for slot in page.schedule-thursday %}
          <li class="slot {{slot.slottype}}">
            <span class="time">{{slot.time}}</span>
            <div class="tracks-wrapper">
              <ul class="tracks tracks-thursday">
                {% for track in slot.tracks %}
                <li class="track" id="{{track.track.id}}">
                  <span class="name">{{track.track.name}}</span>
                  <span class="title">{{track.track.title}}</span>
                  {% if track.track.speaker %}
                  <span class="speaker"><a href="/speakers/#{{track.track.slug}}">{{track.track.speaker}}</a></span>
                  {% endif %}
                  <p class="description">{{track.track.description}}</p>
                  {% if track.track.menulink %}
                      <p><a href="/menu/#{{track.track.menulink}}">Tasty food menu &raquo;</a></p>
                  {% endif %}
                  {% if track.track.video %}
                      <span class="video"><a href="https://www.youtube.com/watch?v={{track.track.video}}&list=PLDWZ5uzn69ezRJYeWxYNRMYebvf8DerHd">Video &raquo;</a></span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
        <h3 class="centre">Friday 19th August 2016</h3>
        <ul class="schedule">
          {% for slot in page.schedule-friday %}
          <li class="slot {{slot.slottype}}">
            <span class="time">{{slot.time}}</span>
            <div class="tracks-wrapper">
              <ul class="tracks tracks-friday">
                {% for track in slot.tracks %}
                <li class="track" id="{{track.track.id}}">
                  <span class="name">{{track.track.name}}</span>
                  <span class="title">{{track.track.title}}</span>
                  {% if track.track.speaker %}
                  <span class="speaker"><a href="/speakers/#{{track.track.slug}}">{{track.track.speaker}}</a></span>
                  {% endif %}
                  <p class="description">{{track.track.description}}</p>
                  {% if track.track.menulink %}
                      <p><a href="/menu/#{{track.track.menulink}}">Tasty food menu &raquo;</a></p>
                  {% endif %}
                  {% if track.track.video %}
                      <span class="video"><a href="https://www.youtube.com/watch?v={{track.track.video}}&list=PLDWZ5uzn69ezRJYeWxYNRMYebvf8DerHd">Video &raquo;</a></span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
<script>
$(function(){
    $(".schedule .slot").show();
    $(".schedule .slot").click(function(){
        $(this).toggleClass("active");
//        $(this).siblings(".slot").removeClass("active");
        $('html, body').animate({
          scrollTop: $(this).offset().top-80
        }, 900);
    });
});
</script>
