---
layout: "default"
metatitle: Home
class: home
weight: 1
---

{% include banner_home.html %}
<div class="row -dark -collapse -nodes">
    <div class="wrapper">
        <ul class="fact grid">
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">3<sup>*</sup></span>
                        <span class="fact__label">days of learning</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">3</span>
                        <span class="fact__label">simultaneous tracks</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">4<sup>th</sup></span>
                        <span class="fact__label">annual conference</span>
                    </div>
                </div>
            </li>
            <li class="grid__item u-1/2 u-1/4@md">
                <div class="fact__item">
                    <div class="fact__text">
                        <span class="fact__figure">32</span>
                        <span class="fact__label">hand-picked speakers</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row -about">
    <div class="wrapper">
        <h3>About the conference</h3>
        <p>We are pleased to announce the 4th annual GopherCon UK conference. Three days of amazing talks, plentiful networking opportunities and great socials. GopherCon UK offers the most up-to-date Go programming information and training.</p>
    </div>
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel workshops">
                    <a href="/workshop-day/">
                        <span class="panel__title">Workshops</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel schedule">
                    <a href="/schedule">
                        <span class="panel__title">Conference Schedule</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel venue">
                    <a href="/venue">
                        <span class="panel__title">The Venue</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel tickets">
                    <a href="/tickets">
                        <span class="panel__title">Tickets</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel sponsors">
                    <a href="/sponsors">
                        <span class="panel__title">Sponsors</span>
                    </a>
                </div>
            </div>
            <div class="grid__item u-1/3@md u-1/2@sm">
                <div class="panel socials">
                    <a href="/socials">
                        <span class="panel__title">Socials</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row -collapse">
    <div class="wrapper">
        {% include callout_tickets.html %}
    </div>
</div>

<div class="row -about">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item u-1/2@md u-1/2@sm">
                <h3>Workshops</h3>
                <p>The GopherCon UK team is pleased to offer three compelling workshops lead by veteran trainers. Topics include: Daily Go: Fundamentals, GopherCon UK: Advanced, &amp; Using and extending the Kubernetes API programmatically.</p>
                <p><a class="link" href="/workshop-day/">Check out the workshops</a></p>
            </div>
            <div class="grid__item u-1/2@md u-1/2@sm">
                <h3>Schedule Announced</h3>
                <p>GopherCon UK is pleased to annouce this year's schedule! Now with <strong>three</strong> tracks to choose from! With plenty of memorable workshops and talks, there's sure to be something for everyone.</p>
                <p><a href="/schedule" class="link">Come see what's in store for you in 2018!</a></p>
            </div>
        </div>
    </div>
</div>