.gopher{
  position:absolute;
  bottom:0;
  z-index:10;
  max-width:200px;

  &.-left{
    left:40px;
  }

  &.-right{
    right:40px;
  }

  &.-small{
    max-width:90px;
  }

  &.-medium{
    max-width:80px;

    @include respond(medium){
      max-width:160px;
    }
  }

  &.-above-right{
    max-height:80px;
    width:auto;
    top:-67px;
    right:30px;
  }

  &.-hanging-right{
    top:-7px;
    right:30px;
  }
}