.schedule-container{
	display:table;
	list-style:none;
	margin:10px 0;
	width:100%;

	ul{
		margin:0;
		padding:0;
	}

	.slot{
		display:table;
		width:100%;
		margin:0;
		overflow:auto;

		&:nth-child(2n){
			background:#F0F0F0;
		}
	}

	.tracks-wrapper{
		display:table-row;
	}

	.spacer,
	.track-title,
	.time,
	.track{
		display:table-cell;
		padding:15px;
		border-color:#fff;
		border-style:solid;
		border-width:2px 1px;
	}

	.spacer,
	.time{
		width:10%;
	}

	.track-title,
	.track-title:nth-child(2n){
		width:30%;
		background:#DDD;
	}

	.track{
		width:30%;
		background:#00A27C;

		> *{
			color:#fff;
		}

		a{
			color:#ffd544;
		}
	}

	.special,
	.break{
		.track{
			width:90%;
			text-align:center;
		}
	}

	.special .track{
		background:$color-brand-quarternary;
	}

	.break .track{
		background:#EEE;

		> *{
			color:#6F6F6F;
		}

		.title{
			min-height:10px;
		}
	}

	.track-slot-meta{

		> *{
			display:block;
		}

		.title{
			margin-bottom:6px;
			font-size:1.1em;
			line-height:1.3em;
			min-height:50px;
		}

		.speaker{
			margin-bottom:2px;
		}
	}

	.description{
		margin-top:10px;
	}

	.special .track-slot-meta .title{
		min-height:10px;
	}
}