<div class="row -medium">
	<img src="/assets/images/gophers/gopher-hanging-left-purple.svg" class="gopher -small -hanging-right">
    <div class="wrapper">
        <h3>Sponsoring Gophercon UK</h3>
        <p>Gophercon UK relies heavily on sponsorship to run the event at rates affordable to the whole community. If you're interested in sponsoring our event, please <a href="mailto:info@golanguk.com">contact us</a>.</p>
        <p><a class="link" href="mailto:info@gophercon.co.uk">Contact us about sponsoring the conference</a><br>
            <a class="link" href="/sponsors/packages">See available sponsorship packages</a><br>
            <a class="link" href="/sponsors/2017">See who sponsored last year</a></p>
    </div>
</div>