<div class="row -medium">
    <div class="wrapper">
        <h3>Sponsoring Applied AI</h3>
        <p>The {{ site.name }} relies heavily on sponsorship to run the event at rates affordable to the whole community. If you're interested in sponsoring our event, please <a href="mailto:info@appliedai.co.uk">contact us</a>.</p>
        <p><a class="link" href="mailto:info@appliedai.co.uk">Contact us about sponsoring the conference</a><br>
            <a class="link" href="/sponsors/packages">See available sponsorship packages</a><br>
    </div>
</div>