<div class="banner">
	<div class="banner__content">
		<img class="banner__logo" src="/assets/images/ribbon-gophercon.svg" alt="Gophercon UK 2018" />
		<span class="banner__sub-title">1<sup>st*</sup>, 2<sup>nd</sup> &amp; 3<sup>rd</sup> August 2018</span>
		<span class="banner__location">
			<i class="icon -medium -dark">
				{% include {{ icon.class | prepend: 'icons/location' | append: '.svg' }} %}
			</i>
			The Brewery, City of London
		</span>
		<p class="intro">Introducing Gophercon UK, formerly known as the Golang UK Conference. <br>Join us for three days of great Go content with the best speakers from across the world.</p>
		<span class="banner__notice">Limited early bird tickets on Sale!</span>
		<a href="/tickets" class="button">Buy Your Ticket Now</a>
	</div>
</div>