<section class="section-rotate">
    <div class="section-inner bg-photo"></div>
    <div class="section-inner bg-gradient-primary opacity-90"></div>
    <!--Illustation -->
    <div class="pt-0 position-absolute middle right-0 col-lg-6 col-xl-6 d-none d-lg-block">
        <img alt="" src="/assets/img/svg/hands.svg" class="img-fluid img-hands">
    </div>
    <!-- Hero container -->
    <div class="container pt-lg pb-xl-md position-relative zindex-100">
        <div class="row">
            <div class="col-lg-7 text-center text-lg-left">
                <a href="/schedule" class="alert alert-news" data-toggle="tooltip" data-original-title="See it here">
                    <span class="badge badge-pill badge-warning">News</span>
                    <span class="alert-content">Schedule now announced</span>
                    <i class="fas fa-angle-right"></i>
                </a>
                <div class="">
                    <h2 class="text-white my-4">
                <span class="display-4 font-weight-light">Applied AI Conference</span>
                <span class="d-block">The Brewery, City of London  <br>
                Friday 1<sup>st</sup> March 2019</span>
            </h2>
                    <p class="lead lh-180 text-white" style="max-width:475px;">A full day of machine learning and artificial intelligence talks and tutorials for developers, data scientists and analysts</p>
                    <div class="mt-5">
                        <a href="/schedule" class="btn btn-dark btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me">
                            <span class="btn-inner--text">View schedule</span>
                            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                        </a>
                        <a href="/tickets" class="btn btn-outline-white btn-circle btn-translate--hover btn-icon d-none d-xl-inline-block scroll-me">
                            <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span>
                            <span class="btn-inner--text">Get tickets</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>