<section class="slice slice-lg pt-3 pb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                {% if page.url != '/sponsors/' %}
                <div class="blurable--hover">
                    <a href="/sponsors">
                        <div class="row blurable-item align-items-center sponsor-logos">
                            {% for sponsorType in site.data.2019.sponsors %}
                            {% for sponsor in sponsorType.sponsors %}
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0" style="display:inline-block;">
                                <div class="px-2 py-2">
                                    <img src="/assets/images/2019/sponsors/{{ sponsor.slug }}.{{ sponsor.imageType }}" alt="{{ sponsor.name }}" class="sponsor--{{sponsor.slug}} img-fluid img-grayscale">
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        <span class="blurable-hidden btn btn-sm btn-info btn-circle">View our sponsors</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg delimiter-top">
    <div class="container">
        <div class="mb-md text-center">
            <h3 class="heading h3">Stay up-to-date with Applied AI</h3>
            <div class="fluid-paragraph text-center mt-4">
                <p class="lead lh-180">Enter your email address to join the {{ site.name }} mailing list and be the first to hear our latest news and announcements.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="30FEA77E7D0A9B8D7616376B90063231B206D0EB252B561C0ED443FDF72B7294D0055CB7906A34C6ECCDD5AA85E98C417023373A49E72E27E68FDE81D4C24ED9" class="js-cm-form newsletter-form">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input
                                 id="fieldEmail" name="cm-futltt-futltt" type="email" class="js-cm-email-input form-control" placeholder="Your email address" required placeholder="Your email address">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="js-cm-submit-button btn btn-block btn-primary" type="submit">Subscribe</button>
                        </div>
                        <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="footer footer-dark bg-gradient-primary">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="../index.html">
                        <img src="../assets/img/brand/logo.svg" alt="Footer logo" style="height: 40px;" class="mb-3">
                    </a>
                    <p class="text-sm">Applied AI is a conference focussed on artificial intelligence and machine learning for developers.</p>
                    <p class="text-sm">We operate a <a href="/conduct">code of conduct</a> to ensure all attendees are able to enjoy the conference.</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">About</h6>
                    <ul class="list-unstyled">
                        {% assign pages_list = site.pages %}
                        {% assign group = 'navigation' %}
                        {% include pages_list %}
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">About</h6>
                    <ul class="list-unstyled text-small">
                        <li><a href="mailto:info@appliedai.co.uk" target="_blank">Email us</a></li>
                        <li><a href="https://twitter.com/appliedaiconf" target="_blank">Tweet us</a></li>
                        <li><a href="https://github.com/vitisevents/appliedai" target="_blank">Report website issues</a></li>
                        <li><a href="/sponsors" target="_blank">Become a sponsor</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">Stay informed</h6>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/appliedaiconf" target="_blank">Twitter</a></li>
                        <li><a href="https://www.fb.me/appliedai" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        <p class="footnote">&copy; Vitis Events Ltd. Registered company 09693545</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a href="https://www.iubenda.com/privacy-policy/77555329/cookie-policy" class="iubenda-black no-brand iubenda-embed " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                            <a href="https://www.iubenda.com/privacy-policy/77555329" class="iubenda-black no-brand iubenda-embed " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/vitisevents/appliedai"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/appliedaiconf"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/appliedaiconf"><i class="fab fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>