<footer class="footer-sponsors">
    <div class="container">
        <div class="row">
            <div class="col span12">
                <h3 class="center">Sponsored by</h3>
            </div>
        </div>
        <div class="row">
            <div class="col span12">
                <ul class="sponsor-list">
                    <li>
                        <a href="http://www.docker.com" target="_blank" class="sponsor">
                            <img class="logo img-center" src="/images/sponsors/docker-horizontal.png" alt="Docker" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mailjet.com" target="_blank" class="sponsor">
                            <img class="logo img-center" src="/images/sponsors/mailjet.png" alt="Mailjet" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.pivotal.io" target="_blank" class="sponsor">
                            <img class="logo img-center" src="/images/sponsors/pivotal.png" alt="Pivotal" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col span4">
                <h3>@golangukconf Tweets</h3>
                <a class="twitter-timeline"  href="https://twitter.com/golangukconf"  data-widget-id="579930393601769472" data-chrome="nofooter noheader transparent" data-tweet-limit="2">Tweets by @golangukconf</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="col span4">
                <h3>Contact Information</h3>
                <p>If you would like further information about the Golang UK Conference please get in touch.</p>
                <p>Email us:<br />
                <a href="mailto:info@golanguk.com" target="_blank">info@golanguk.com</a> </p>
                <p>Help us make this site better.<br />
                <a href="https://github.com/GolangUK/golanguk.github.io" target="_blank">Raise an issue at Github</a></p>
                <p>Follow us on twitter:<br />
                <a href="https://twitter.com/golangukconf" target="_blank">@golangukconf</a></p>
                <p>Like us on Facebook:<br />
                <a href="https://www.facebook.com/pages/Golang-UK-Conference/683548468422412" target="_blank">facebook.com/pages/Golang-UK-Conference</a></p>
            </div>
            <div class="col span4">
                <h3>Code of Conduct</h3>
                <p>The Golang Conference operates a code of conduct to ensure that all attendees are able to enjoy the conference. We encourage all delegates to read the <a href="/conduct/">Code of Conduct</a> before the start of the conference.<p>
                <p>Want to attend Golang UK?</p>
                <a class="button" href="http://www.eventbrite.co.uk/e/golang-uk-conference-2015-tickets-16233380478">Buy Tickets</a>
            </div>
        </div>
        <div class="row border">
            <div class="col span12">
                <p class="footnote">&copy; <script>// &lt;![CDATA[
                document.write(new Date().getFullYear())
                // ]]&gt;</script> Golang UK Conference. Except where otherwise noted, content on this site is licensed under the Creative Commons attribution license.</p>
                <p class="footnote">Powered by Golang UK, a trading name of PHP London Limited, 207 Regent Street, London, W1B3HH. Registered in England and Wales company number 06770521.</p>
                <p class="footnote">The Golang UK gopher is derived from an original design by Renée French.</p>
            </div>
        </div>
    </div>
</div>