<footer class="footer">
    <div class="footer-buttons-container">
        <div class="row">
            <ul class="footer-buttons cols">
                <li class="span4 col">
                    <a href="#">Calculators</a>
                </li>
                <li class="span4 col">
                    <a href="#">Currency exchange</a>
                </li>
                <li class="span4 col">
                    <a href="#">Branch finder</a>
                </li>
                <li class="span4 col">
                    <a href="/contact">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="cols">
            <div class="col span8">
                <h3>Popular products</h3>
                <div class="col span8">
                    <ul class="footer-menu">
                        <li class="title">
                            <a href="#">Banking cards</a>
                        </li>
                        <li>
                            <a href="#">Credit cards</a>
                        </li>
                        <li>
                            <a href="#">Debit cards</a>
                        </li>
                        <li>
                            <a href="#">Cards credit limits</a>
                        </li>
                        <li>
                            <a href="#">Information for cardholders</a>
                        </li>
                        <li>
                            <a href="#">Card services</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col span8">
                        <ul class="footer-menu">
                            <li class="title">
                                <a href="#">Loans</a>
                            </li>
                            <li>
                                <a href="#">Express loans</a>
                            </li>
                            <li>
                                <a href="#">Loan calculator</a>
                            </li>
                            <li>
                                <a href="#">Refinancing loans</a>
                            </li>
                            <li>
                                <a href="#">Mortgages</a>
                            </li>
                            <li>
                                <a href="#">Tariffs</a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="col span8">
                <h3>Get in touch</h3>
                <div class="col span8">
                    <p><strong>Head office contact details</strong><br />
                    JSC Kazkommertsbank,<br />
                    135 zh, Gagarin Avenue,<br />
                    Almaty, Kazakhstan, 050060
                    </p>
                    <p>
                    T: +7 (727) 258-54-44<br />
                        +7 (727) 258-54-44<br />
                    E: office@kkb.kz</p>
                    <p><strong>Investor Relations details</strong><br />
                    T: +7 (727) 258-51-25<br />
                    F: +7 (727) 258-52-42<br />
                    E: office@kkb.k</p>
                </div>
                <div class="col span8">
                    <p><strong>Connect with us</strong><br />
                    Follow us for all the up to date information</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cols">
            <div class="col span8">
                <ul>
                    <li>
                        <a href="#">Agency network</a>
                    </li>
                    <li>
                        <a href="#">Collateral sales</a>
                    </li>
                    <li>
                        <a href="#">Our internet projects</a>
                    </li>
                    <li>
                        <a href="#">Privacy policy</a>
                    </li>
                    <li>
                        <a href="#">Cookies</a>
                    </li>
                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </div>
            <div class="col span8">
                <p>&copy; Copyright 1998–<script>// &lt;![CDATA[
                document.write(new Date().getFullYear())
                // ]]&gt;</script>2015 JSC Kazkommertsbank</p>
            </div>
        </div>
    </div>
</footer>