<div id="header" class="header">

	<div class="container">
		<div class="row">
			<div class="span12">
	        	<img src="/images/golang_gopher.svg" alt="Golang Gopher" class="gopher">
				<h1><a href="/"><img src="/images/golang-uk-conference.png" alt="Golang UK Conference" class="logo" /></a></h1>
				<h2 class="menulink"><a href="#">Menu</a></h2>

				<!-- Start Menu -->
				<div id="menu">
					<ul>
						<li><a href="/about">About</a></li>
                        <li><a href="/diversity">Diversity</a></li>
						<li><a href="/speakers">Speakers</a></li>
						<li><a href="/sponsors">Sponsors</a></li>
						<li><a href="/socials">Socials</a></li>
						<li><a href="/venue">Venue</a></li>
						<li class="current"><a href="/tickets" target="_blank">Buy tickets</a></li>
					</ul>
				</div>
				<!-- End Menu -->

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>