<header class="header-transparent" id="header-main">

    <!-- Topbar -->
    <div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
        <div class="container">
            <div class="navbar-nav align-items-center">
                <div class="d-none d-lg-inline-block">
                    <span class="navbar-text mr-3">AI & Machine Learning Conference 2019</span>
                </div>
                <div class="ml-auto">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/vitisevents/appliedai"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/appliedaiconf"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/appliedaiconf"><i class="fab fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="/">
                <img alt="Image placeholder" src="/assets/img/brand/logo.svg" style="height: 50px;">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center">

				{% assign pages_list = site.pages %}
				{% assign group = 'navigation' %}
				{% include pages_list %}
                </ul>

                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item mr-0">
                        <a href="/tickets" target="_blank" class="nav-link d-lg-none">Get Tickets</a>
                        <a href="/tickets" target="_blank" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                            <span class="btn-inner--icon"><i class="fas fa-ticket-alt"></i></span>
                            <span class="btn-inner--text">Get Tickets</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>