{% if include.speaker.hide != true %}
    {% if include.speaker.photo %}
    <div class="col-lg-3">
        <div class="card overflow-hidden" data-animate-hover="2" id="{{include.speaker.slug}}">
            <div class="overflow-hidden">
                <div class="animate-this">
                    <a href="#">
                        <img alt="Image placeholder" class="card-img-top speaker-photo" id="{{include.speaker.slug}}-photo" src="{{include.speaker.photo}}">
                    </a>
                </div>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title mb-0">{{include.speaker.speaker}}</h5>
                <p class="text-muted mb-0">{{include.speaker.company}}</p>
                <ul class="nav justify-content-center">
                    {% if include.speaker.handle %}
                    <li class="nav-item">
                        <a class="nav-link speaker-handle" href="https://twitter.com/{{include.speaker.handle}}">
                            <i class="fab fa-twitter"></i> @{{include.speaker.handle}}
                        </a>
                    </li>
                    {% endif %}
                    {% if include.speaker.github %}
                    <li class="nav-item">
                        <a class="nav-link speaker-handle" href="https://github.com/{{include.speaker.github}}">
                            <i class="fab fa-github"></i> @{{include.speaker.github}}
                        </a>
                    </li>
                    {% endif %}
                    {% if include.speaker.linkedin %}
                    <li class="nav-item">
                        <a class="nav-link speaker-handle" href="https://linkedin.com/{{include.speaker.linkedin}}">
                            <i class="fab fa-linkedin"></i> @{{include.speaker.linkedin}}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <p class="speaker-bio">{{include.speaker.bio}}</p>
        </div>
    </div>
    <script>
        $(function() {
            $("#{{include.speaker.slug}}-bio").dialog({
                autoOpen: false,
                modal: true,
                dialogClass: "speaker-bio-dialog"
            });
        });
        $("#{{include.speaker.slug}}-photo").on( "click", function() {
            $("#{{include.speaker.slug}}-bio").dialog( "open" );
        });
    </script>
    {% endif %}
{% endif %}