// Font sizing
$base-font-size:     				14px;
$base-line-height:   				20px;

// Base units
$base-radius:                       5px;
$base-spacing-unit:  				30px;

// Banner
$banner-padding:                    100px;

// Callout
$callout-padding: 					($base-spacing-unit + 10);

// Button
$btn-radius:                        $base-radius;

// To be changed once there is a new logo
$logo-height:		 				48px;

// Fonts
$font-size-h1:                      ($base-font-size * 3.2);
$font-size-h2:                      ($base-font-size * 2.5);
$font-size-h3:                      ($base-font-size * 2.0);
$font-size-h4:                      ($base-font-size * 1.5);
$font-size-h5:                      ($base-font-size * 1.2);
$font-size-h6:                      $base-font-size;

$font-primary: 		                'Open Sans';
$font-secondary: 	                'Gugi';
$font-tertiary: 	                'Gugi';

$banner-list: about speakers schedule sponsors socials venue diversity tickets speakers videos;