.page-head .main-menu,
.mobile-nav .main-menu{

    &__link{

        @include respond(medium){
            padding-bottom:2px;
            border-bottom:2px solid transparent;
        }

        &:hover,
		&.-is-active{
            color:$color-white;
            text-decoration:none;
            background:$color-brand-secondary;

            @include respond(large){
                background:none;
			}
        }
    }
}
.page-head .main-menu__item:last-child a,
.mobile-nav .main-menu__item:last-child a{
    @include border-radius($base-radius);
}