.banner{
    text-align:center;
    padding:$banner-padding 0;
    background-image:url(../images/banners/home2.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-color:$color-brand-primary;

    .home &{
        padding-top:$banner-padding + $header-height;
    }

    &__content{
        @include vertical-align-center;
        padding:0 $base-spacing-unit;
        margin-top:$header-height;
        z-index:2;
    }

    &__title{
        position:relative;
        @include font-size(40px);
        line-height:1;
        @include font-family(secondary);
        margin:0 0 12px 0;
        z-index: 1;
        text-shadow: .05em .05em 0 rgba($color-black, 0.5);

        @include respond(medium){
            @include font-size(52px);
        }
    }

    &__subtitle{
        @include font-size(18px);
        line-height: 1.3em;
        @include font-weight(normal);
        @include font-family(primary);
        margin: 0 0 18px 0;
    }

    &__date{
        @include font-weight(medium);
        margin:0 0 26px 0;
        line-height:1.5;
        color:$color-white;
    }

    &__title,
    &__subtitle,
    &__location,
    &__notice,
    .intro{
        color:$color-white;
    }

    .button{
        color:$color-page-text;
        background-color:$color-white;
    }
}