//Sponsors
.sponsor-bar{
    background-color:$color-white;
    border-top:none;

    .sponsor-list img{
        mix-blend-mode: screen;
        // @include css3-prefix(filter, brightness(0) invert(1));
        @include css3-prefix(filter, grayscale(100%) invert(1));
    }
}