<div class="banner">
	<div class="banner__content">
		<h1 class="banner__title" data-shadow='Machine Conf'>{{ site.name }}</h1>
		<span class="banner__sub-title">1<sup>st*</sup>, 2<sup>nd</sup> &amp; 3<sup>rd</sup> August 2018</span>
		<span class="banner__location">
			<i class="icon -medium -dark">
				{% include {{ icon.class | prepend: 'icons/location' | append: '.svg' }} %}
			</i>
			The Brewery, City of London
		</span>
		<span class="banner__notice">Limited early bird tickets on Sale!</span>
		<a href="/tickets" class="button">Buy Your Ticket Now</a>
	</div>
</div>