.gradient{
	position:absolute;
	z-index:1;
	top:0;
	right:0;
	width:100%;
	height:100%;
	opacity:0.9;

	&.-green{
		background-image: linear-gradient(to right, #2ecc71 0%, #2ecc71 100%);
	}

	&.-red{
		background-image: linear-gradient(to right, #c0392b 0%, #c0392b 100%);
	}

	&.-purple{
		background-image: linear-gradient(to right, #639 0%, #639 100%);
	}

	&.-orange{
		background-image: linear-gradient(to right, #d35400 0%, #d35400 100%);
	}

	&.-blue{
		background-image: linear-gradient(to right, #446cb3 0%, #446cb3 100%);
	}

	&.-pink{
		background-image: linear-gradient(to right, #db0a5b 0%, #db0a5b 100%);
	}

	+ *{
		position:relative;
		z-index:2;
	}
}