// Brand colours
$color-brand-primary:                   #db2b39;
$color-brand-secondary:                 #532B5B;
$color-brand-tertiary:                  #2c2c54;
$color-brand-quarternary:               #1E28CE;

$color-header-background:                 $color-brand-tertiaryl;