// Font sizing
$base-font-size:     				14px;
$base-line-height:   				20px;

// To be changed once there is a new logo
$logo-height:		 				44px;

$font-primary: 		                'Open Sans';
$font-secondary: 	                Jockey One;
$font-tertiary: 	                Jockey One;

$banner-list: about speakers schedule sponsors socials venue diversity tickets speakers videos;