<!DOCTYPE html>
<html>
	{% include head.html %}
	<body class="{{page.class}}">
		{% include header.html %}
		<div class="content container">
			{{ content }}
		</div>
		{% include footer.html %}

		<!--[if lte IE 7]><script src="js/icons-lte-ie7.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/scripts.js"></script>  
		<script src="js/jquery.form.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/social.js"></script>

	</body>
</html>